body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;   
}

.jumbotron {
   background-color:  transparent;
   color:  white;
}

h1 {
  margin-left: 10%;
  margin-right: 10%;
}

.start { /* Typography */
  text-align: center;
}

.finish { /* Typography */
  text-align: center;
}

.clickHere {
  width: 180px;
  height: 50px;
}

.clickHereDone {
  width: 180px;
  height: 50px;
}

#show-number {
  color:  white;
  text-align:  center;
  font-size:  25px;
}

#newTrivia1 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia2 {
  color:  white;
  font-weight: bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia3 {
  color:  white;
  font-weight: bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia4 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia5 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia6 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia7 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#newTrivia8 {
  color:  white;
  font-weight:  bold;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
  text-decoration: underline;
}

#radioButtons1 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
}

#radioButtons2 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}

#radioButtons3 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}

#radioButtons4 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}

#radioButtons5 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px;
}

#radioButtons6 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}

#radioButtons7 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}

#radioButtons8 {
  color:  white;
  text-align:  left;
  margin-left:  20px;
  font-size:  20px; 
}